@font-face {
    font-family: 'Harry';
    src: local('Harry'),
    url('../fonts/harry-p-font/HarryP.ttf');

}
body{
    background-color: #1A472A;
}
p{
    color: #aaaaaa;
    font-size: 60px;
    font-family: Harry;
    
}
h1, h2{
    color: #aaaaaa;
    letter-spacing: 0.2em;
    font-family: Harry;
}
#clock{
    position: absolute;
}

.tik{
    position: absolute;
    width: 250px;
}

li{
    list-style: none;
    margin: 1em;
}
ul{
    display: flex;
}